@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    padding-bottom: 30px;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

@media (min-width: 900px) {
    main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;
    }
}

section {
    max-width: 450px;
}

.hidden {
    display: none;
}

.small-print {
    font-size: x-small;
}

.scary {
    font-style: italic;
    font-weight: bold;
    font-size: 1.1em;
}

#name-display {
    font-size: 3em;
    padding: 0;
    margin: 0;
}

#dog-container {
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    padding: 15px;
}

.green-theme {
    font-family: cursive;
    background-color: olivedrab;
    border: 5px dashed black;
    border-radius: 15px;
}

.blue-theme {
    font-family: cursive;
    background-color: steelblue;
    border: 10px ridge rgba(40, 40, 180, .6);
    border-radius: 5px;
}

.flat-theme {
    background-color: rgb(214, 201, 166);
    border: 2px solid black;
}

#dog-display {
    width: 100%;
}